:root {
  font-family: 'Neue Neue Haas Grotesk Text Pro', Helvetica, -apple-system, system-ui, sans-serif;
  color: white;
  background-color: #34344a;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item {
  margin: auto;
  margin-bottom: 0.5em;
  width: fit-content;
  max-width: 70%;
}

hr {
  width: 80%;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#construction {
  image-rendering: crisp-edges;
  width: 574px;
  max-width: 100vw;
}

#logo {
  width: 4em;
  padding: 0.5em;
}

.btn {
  width: 88px;
  image-rendering: crisp-edges;
}

a {
  color: white;
}

a::after {
  content: "";
  background-color: white;
  width: .75rem;
  height: .75rem;
  margin-left: .2rem;
  display: inline-block;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path stroke="%23000" fill="none" stroke-width="10" d="M43 35H5v60h60V57M45 5v10l10 10-30 30 20 20 30-30 10 10h10V5z"/></svg>') center no-repeat;
    mask-size: contain;
}

